/*****************/
/******HOME*******/
/*****************/


/*****************/
/******NAV*******/
/*****************/

body {
    background-color: #160806;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    position: fixed;
    z-index: 4;
}

header img {
    width: 8em;
    height: 9em;
    flex-grow: 0.5;
    padding-left: 3em;

}



nav ul {

    display: flex;
    list-style: none;
    padding-right: 10em;
    justify-content: flex-end;
    font-family: 'Macondo', cursive;


}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0 3em;
}

nav ul li a:hover {
    color: #C96464;

}


/*****************/
/***MAIN HOME*****/
/*****************/

section {
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;

}

.text {
    display: inline-block;
    padding-top: 6.5em;
    padding-left: 3em;
    padding-bottom: 1em;
    margin-right: 10em;
    margin-left: 5%;
    font-family: 'Nunito', sans-serif;

}

h2 {
    display: flex;
    font-size: 2em;

    color: white;

    font-family: 'Nunito', sans-serif;

}

p {
    color: white
}

section img {
    padding: 0 3em;
    width: 38em;
    height: 40em;

}

button {
    font-size: 15px;
    color: #C96464;
    background: none;
    border-color: #C96464;
    border-style: solid;
    border-radius: 42px;
    padding: 0.6em 1.3em;
    margin-top: 2em;
    font-family: 'Nunito', sans-serif;

}

button:hover {
    background-color: #C96464;
    color: black;
}

/*****************/
/***MAIN EXAMPLES*****/
/*****************/

main div {
    display: flex;
    justify-content: space-around;
    padding-top: 5em;
    padding-bottom: 5em;
}

main div img {
    height: 15em;
}

[src="./images/main_page/rainbow_matthews.png"] {
    height: 7.5em;
    padding-top: 3.7em;
}



#my_work {
    display: block;
    margin: auto;


    font-size: 15px;
    color: #C96464;
    background: none;

    border-color: #C96464;
    border-style: solid;
    border-radius: 42px;
    padding: 0.6em 1.3em;

    font-family: 'Nunito', sans-serif;
}

#my_work:hover {
    background-color: #C96464;
    color: black;
}

main a {
    text-decoration: none;
}

/*****************/
/*****FOOTER******/
/*****************/

footer {
    display: flex;
    justify-content: space-around;

    padding-top: 7em;
    padding-bottom: 2em;
}

footer img {
    width: 3.25em;
    height: 3em;
    transition: width 0.5s, height 0.5s;
}

footer img:hover {
    width: 4.25em;
    height: 4em;
}

/*******************/
/*****ABOUT ME******/
/*******************/

[src="./images/about_me/about_me_stripes.png"] {
    padding-top: 2em;
    width: 35em;
}

/*******************/
/*****PORTFOLIO******/
/*******************/

.portfolioGD {

    color: ghostwhite;
    display: flex;
    justify-content: space-around;
}

.portfolioGD img {

    filter: blur(10px);

    width: 22em;
    height: 20em;
}

.portfolioGD p {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 3em;
    position: absolute;
    z-index: 1;
}

.portfolioGD a {


    position: absolute;
    z-index: 1;

    margin-top: 150px;
}

.portfolioWD {

    color: ghostwhite;
    display: flex;
    justify-content: space-around;
}

.portfolioWD img {

    filter: blur(10px);

    width: 22em;
    height: 20em;
}

.portfolioWD p {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 3em;
    position: absolute;
    z-index: 1;
}




/*************************/
/*****GRAPHIC DESIGN******/
/*************************/

.gd {
    display: flex;
    padding-top: 3em;
    padding-bottom: 0;
}

.img_gd {
    display: block;
    margin-top: 6em;
}

.img_gd img {
    height: 6em;
}

.img_gd img:nth-of-type(2) {
    padding-top: 0;
}

.img_gd2 {
    display: block;
}

.img_gd2 img {
    padding-top: 0;
    height: 8em;
}

.img_gd2 img:nth-of-type(2) {
    padding-top: 1em;
}

.img_gd3 {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.img_gd3 img {
    width: 16em;
    height: 15em;
    padding: 0;

}


.text2 {

    font-family: 'Nunito', sans-serif;
    padding: 0;
}

.otherworksgd {
    display: block;
    padding-top: 3em;
}

/*************************/
/******WEB DESIGN*********/
/*************************/

.img_wd{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}

.img_wd img{
    height: 20em;
    padding-bottom: 2em;
}

[src= "./images/portfolio_img/prof_e_overview_small.png"]{
    height: 4em;
    width: 12em;
}

[src= "./images/portfolio_img/prof_e_details_small.png"]{
    height: 4em;
    width: 12em;
}

.wd {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    flex-wrap: wrap;
}

.link_wd{
    color: white;
    text-decoration: underline;
}

.link_wd:hover{
    color:#44bcd8;
}

.wdshia{
    display: block;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    
}

.img_wd4 {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.img_wd4 img {
    width: 12em;
    height: 20em;
    padding: 0;

}

/***********************/
/*******CONTACT*********/
/***********************/

.text2{
    display: inline-block;
    padding-top: 6.5em;
    padding-left: 3em;
    padding-bottom: 1em;
    margin-right: 10em;
    margin-left: 5%;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
}

.li{
    color: white;
    text-decoration: underline;
}